<?xml version="1.0"?>
<robot name="ecosense" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find ecosense_description)/src/description/ecosense_constant.urdf"/>

    <!-- Robot Base -->
    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 ${wheel_radius}" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}"/>
            </geometry>
            <material name='mohammed'>
                <color rgba="0.25 0.25 0.25 1.0"/>
            </material>
        </visual>
    </link>

    <!-- Robot Footprint -->
    <link name="base_footprint">
    </link>

    <joint name="base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="0.0 0.0 ${-(wheel_radius+wheel_zoff)}" rpy="0 0 0"/>
    </joint>

    <!-- Wheels -->
    <link name="wheel_front_left_steer_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="1.570795 0.0 0.0"/>
            <geometry>
                <cylinder length="0.001" radius="0.01"/>
            </geometry>
            <material name="wheel_material">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
    </link>

    <joint name="wheel_front_left_steer_joint" type="revolute">
        <parent link="base_link"/>
        <child link="wheel_front_left_steer_link"/>
        <origin xyz="${wheel_xoff} ${wheel_yoff} ${wheel_zoff}" rpy="0 0 0"/>
        <limit effort="100" velocity="1" lower="${-wheel_left_steer_limit_left}" upper="${wheel_left_steer_limit_right}"/>
        <axis xyz="0 0 1"/>
    </joint>

    <link name="wheel_front_left_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="1.570795 0.0 0.0"/>
            <geometry>
                <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
            </geometry>
            <material name="wheel_material">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
    </link>

    <joint name="wheel_front_left_joint" type="continuous">
        <parent link="wheel_front_left_steer_link"/>
        <child link="wheel_front_left_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <link name="wheel_front_right_steer_link">
    </link>

    <joint name="wheel_front_right_steer_joint" type="revolute">
        <parent link="base_link"/>
        <child link="wheel_front_right_steer_link"/>
        <origin xyz="${wheel_xoff} ${-1*wheel_yoff} ${wheel_zoff}" rpy="0 0 0"/>
        <limit effort="100" velocity="1" lower="${-wheel_right_steer_limit_left}" upper="${wheel_right_steer_limit_right}"/>
        <axis xyz="0 0 1"/>
    </joint>

    <link name="wheel_front_right_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="1.570795 0.0 0.0"/>
            <geometry>
                <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
            </geometry>
            <material name="wheel_material">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
    </link>

    <joint name="wheel_front_right_joint" type="continuous">
        <parent link="wheel_front_right_steer_link"/>
        <child link="wheel_front_right_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <link name="wheel_back_left_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="1.570795 0.0 0.0"/>
            <geometry>
                <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
            </geometry>
            <material name="wheel_material">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
    </link>

    <joint name="wheel_back_left_joint" type="continuous">
        <parent link="base_link"/>
        <child link="wheel_back_left_link"/>
        <origin xyz="${-1*wheel_xoff} ${wheel_yoff} ${wheel_zoff}" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <link name="wheel_back_right_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="1.570795 0.0 0.0"/>
            <geometry>
                <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
            </geometry>
            <material name="wheel_material">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
    </link>

    <joint name="wheel_back_right_joint" type="continuous">
        <parent link="base_link"/>
        <child link="wheel_back_right_link"/>
        <origin xyz="-${wheel_xoff} -${wheel_yoff} ${wheel_zoff}" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <!-- Sensors -->
    <link name="rplidar_link">
    </link>

    <joint name="rplidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="rplidar_link"/>
        <origin xyz="${rplidar_xoff} ${rplidar_yoff} ${rplidar_zoff}" rpy="0 0 ${rplidar_rotz}"/>
    </joint>

    <link name="imu_link">
    </link>
    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="${imu_xoff} ${imu_yoff} ${imu_zoff}" rpy="0 0 0"/>
    </joint>

    <link name="ultrasonic_front_central_link">
    </link>
    <joint name="ultrasonic_front_central_joint" type="fixed">
        <parent link="base_link"/>
        <child link="ultrasonic_front_central_link"/>
        <origin xyz="${ultrasonic_front_central_xoff} ${ultrasonic_front_central_yoff} ${ultrasonic_front_central_zoff}" rpy="0 0 0"/>
    </joint>

    <link name="ultrasonic_front_left_link">
    </link>
    <joint name="ultrasonic_front_left_joint" type="fixed">
        <parent link="base_link"/>
        <child link="ultrasonic_front_left_link"/>
        <origin xyz="${ultrasonic_front_left_xoff} ${ultrasonic_front_left_yoff} ${ultrasonic_front_left_zoff}" rpy="0 0 0"/>
    </joint>

    <link name="ultrasonic_front_right_link">
    </link>
    <joint name="ultrasonic_front_right_joint" type="fixed">
        <parent link="base_link"/>
        <child link="ultrasonic_front_right_link"/>
        <origin xyz="${ultrasonic_front_right_xoff} ${ultrasonic_front_right_yoff} ${ultrasonic_front_right_zoff}" rpy="0 0 0"/>
    </joint>

    <link name="ultrasonic_back_central_link">
    </link>
    <joint name="ultrasonic_back_central_joint" type="fixed">
        <parent link="base_link"/>
        <child link="ultrasonic_back_central_link"/>
        <origin xyz="${ultrasonic_back_central_xoff} ${ultrasonic_back_central_yoff} ${ultrasonic_back_central_zoff}" rpy="0 0 0"/>
    </joint>

    <link name="ultrasonic_back_left_link">
    </link>
    <joint name="ultrasonic_back_left_joint" type="fixed">
        <parent link="base_link"/>
        <child link="ultrasonic_back_left_link"/>
        <origin xyz="${ultrasonic_back_left_xoff} ${ultrasonic_back_left_yoff} ${ultrasonic_back_left_zoff}" rpy="0 0 0"/>
    </joint>

    <link name="ultrasonic_back_right_link">
    </link>
    <joint name="ultrasonic_back_right_joint" type="fixed">
        <parent link="base_link"/>
        <child link="ultrasonic_back_right_link"/>
        <origin xyz="${ultrasonic_back_right_xoff} ${ultrasonic_back_right_yoff} ${ultrasonic_back_right_zoff}" rpy="0 0 0"/>
    </joint>

    <link name="camera_left_link">
    </link>

    <joint name="camera_left_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_left_link"/>
        <origin xyz="${camera_left_xoff} ${camera_left_yoff} ${camera_left_zoff}" rpy="0 0 0"/>
    </joint>

    <link name="camera_right_link">
    </link>
    <joint name="camera_right_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_right_link"/>
        <origin xyz="${camera_right_xoff} ${camera_right_yoff} ${camera_right_zoff}" rpy="0 0 0"/>
    </joint>

    <link name="ld_lidar_link">
    </link>
    <joint name="ld_lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="ld_lidar_link"/>
        <origin xyz="${ld_lidar_xoff} ${ld_lidar_yoff} ${ld_lidar_zoff}" rpy="0 0 0"/>
    </joint>

</robot>
